:root{
  --ifm-color-primary-lightest: #7427A1;
  --ifm-color-primary-lighter: #66228F;
  --ifm-color-primary-light: #622188;
  --ifm-color-primary: #591E7C;
  --ifm-color-primary-dark: #501B70;
  --ifm-color-primary-darker: #4C1969;
  --ifm-color-primary-darkest: #3E1557;
}
